@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


*{
    margin: 0;
    padding: 0;
}

body{
    background: url("archivos-login/fondo.jpg");
    min-height: 100vh;
    display: flex;
    backdrop-filter: brightness(.4) blur(2px);
}

/*----MENU----*/
header {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
    z-index: 1;
}

.menu nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    background: rgb(6, 25, 76);
    border-radius: 40px 40px 40px 40px;
    box-shadow: 2px 10px 20px rgb(18, 41, 76);
    display: inline-flex;
    padding: 1em 30px;
    margin-top: 20px;
}
.menu li {
    padding: 0.5vw 1.2vw;

}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul li:hover{
    background: rgba(255, 255, 255, 0.56);
    transition: 0.4s ease-in-out;
    box-shadow: 2px 5px 10px rgb(6, 25, 76);
    border-radius: 20px;
}

.menu i{
    margin-left: 20px;
}

.logo-a{
    width: 20%;
    z-index: 1;
    height: 0;
}
.logo{
    z-index: 1;
    width: 70%;
    margin-left: 77px;
    margin-top: 15px;
}

.login-nav{
    background: rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 0 20px;
}

/*****CONTENIDO*****/

.container{
    background: url("archivos-login/fondo.jpg");
    transform: translate(50%, -50%);
    top: 52%;
    right: 50%;
    position: absolute;
    width: 85%;
    height: 720px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-height: 1000px;
    overflow: hidden;
    backdrop-filter: blur(5px) brightness(.5);
    bottom: 0;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    right: 0;
    height: 100%;
    width: 30%;
}

.form{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.container .contenido{
    background: rgb(18, 41, 76);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.input{
    width: 20em;
    height: 55px;
    outline: none;
    border: none;
    padding: 0 20px;
    background: transparent;
    color: white;
    border-bottom: 3px solid white;
}

.contenido .register-img{
    min-width: 750px;
}

#chk{
    display: none;
}

.login-box{
    position: relative;
    height: 900em;
    width: 100%;
}

.login-box .label{
    margin: 550px 0 -1%;
}

.label{
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 90px;
}

.btn{
    padding: 20px 18%;
    border: none;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    color: rgb(18, 41, 76);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 20px white;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background: rgb(18, 41, 76);
    color: white;
}

.register-box{
    background: rgb(6, 25, 76);
    border-radius: 90% / 15%;
    transform: translateY(8%);
    transition: .8s ease-in-out;
    padding-bottom: 100px;
    box-shadow: 1px 1px 30px white;

}

.register-box .label{
    color: white;
    transform: scale(.6);
}

#chk:checked ~ .register-box{
    transform: translateY(-63%);

}

#chk:checked ~ .login-box .label{

    font-size: 90px;
}

.input::placeholder{
    color: white;
}

.form>i{
    position: relative;
    bottom: 40px;
    left: 135px;
    color: white;
}
