*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background: grey
}

.alerta-container{
    color: white;
    background-color: #17181c;
  width: 800px;
  height: 530px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 5px black;
  display: flex;
}

.alerta-box{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.alerta-title{
    margin-top: 20px;
    display: flex;
    font-size: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-alerta{
    font-size: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(182, 45, 45);
    margin: 20px 50px;
}

.button-alert{
    display: flex;
    flex-direction: column;
    margin: 50px 18em;
    width: 250px;
    gap: 20px;
}

.button-alert label{
    font-size: 20px;
    margin-left: 20px;
    color: #f13d3d;
    accent-color: red;
}

.button-alert button{
    background: rgb(153, 36, 36);
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.button-alert a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
    color: white;
}

.button-alert button:hover{
    background-color: red;
}